body {
    text-align: center;
    background-color: seagreen;
    color: rgb(199, 243, 3);
 }
 
 .wrapper {
    text-align: left;
    display: grid;
    grid-gap: 5px;
    width: 550px;
    grid-template-columns: 180px 180px 180px;
    background-color: rgb(34, 1, 58);
    color: rgb(169, 224, 17);
    border-radius: 5px;
    /* justify-content: center; */
    margin-Left: auto;
    margin-right: auto;
 }
 
 .box {
    background-color: darkseagreen;
    color: rgb(34, 1, 58);
    border-radius: 5px;
    padding: 20px;
    font-size: 1em;
    border: solid black 1px;
 }