<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculate a Tip Lab19 Mark Okin</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        body{
            background-color: aqua;
            color: rgb(48, 20, 204);
        }
    </style>
</head>

<body>
    <h1>Calculate a Tip Lab19 Mark Okin</h1>
    <h2>Enter bill and tip percent</h2>
    <div id="divCalculateTip">
        <label>Bill Amount: </label> <input type="number" v-model="billAmount" /><br />
        <select v-model="userTip">
            <option v-for="(item, index) in tipPercents">{{item}}</option>
        </select>
        <input type="button" value="Calculate Tip" v-on:click="calcTip" />
        <div>Tip:    ${{tipAmount}}</div>
        <div>Total:   ${{total}}</div>
        
    </div>
    <script src="Lab19.js"></script>
</body>

</html>